/* 
   Fuentes: 
   font-family: 'Poppins', sans-serif;
   font-family: 'Belanosima', sans-serif;

  Paleta de colores: 
  #FC7300 Naranja
  #1F8A70 Verde Pastel
  #00425A Azul Francia 
  #181823 Negro 
  #EFF5F5 Blanco

*/ 

/* Estilos Generales   */



body {
  background-color: #EFF5F5; 
}

hr {
  color:#FC7300;
  border: 2px solid #FC7300 ;
} 

/* Estilos Nav   */

.navbar-brand img {
  height: 100px;
}

.navbar {
 background-color: #00425A;
}

.nav-item a {
    font-family: 'Poppins', sans-serif;
    font-size: 1.2rem;
    color: #1F8A70;
}

.nav-link:hover {
  color:#FC7300;
  transition:  0.5s ease;
}


/* Estilo Main Fondo  */

.contenedorFondo {
  background-color: #EFF5F5; 
  
}



/* Estilo Seccion Quienes Somos  */

.contenedorSomosTexto {
 background-color: #EFF5F5;
 
}

.contenedorSomosImagen {

  
}

.imagenSomos {
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.8);
}


.contenedorSomosTexto h3{
  font-family: 'Belanosima', sans-serif;
  font-size: 1.5rem;
  color: #00425A;
}

.contenedorSomosTexto p {
  font-family: 'Belanosima', sans-serif;
  font-size: 1rem;
  color: #00425A;
}



/* Propuesta Educativa */

.card {
  margin: 10px;
  border-radius: 10px;
  background-color: #00425A;
  
}

.card-img-top {
  padding: 10px;
  border-radius: 20px;
  

}

/* Noticias Carrusel */ 


.noticiasTitulo {
  font-family: 'Belanosima', sans-serif;
  font-size: 2rem;
  font-weight: bold;
  color: #00425A;
}

.noticias .carousel {
  max-width: 800px;
}


.carousel-item {
  height: 400px;
}

.carousel-item .container {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.noticiasImagen {
  height: 200px;
  width: 200px;
  margin: 10px;
}

.noticiasTexto {
  max-width: 70%;
  font-size: 1.2rem;
  font-weight: bold;
  text-align: center;
  font-family: 'Belanosima', sans-serif;
  color: #00425A;
}

.noticasInfo {
  text-align: center;
  color: #00425A;

}

.noticasInfo p {
  margin-bottom: 0;
  font-family: 'Belanosima', sans-serif;
  color: #00425A;
}

.noticiasInfo {
  font-weight: bold;
  text-align: center;
  color: #00425A;
}



/* footer */

footer {
  min-height: 350px;
  background-color: #FC7300;
}


.footerLogo {
  height: 120px;
}

.footer-texto {
  font-size: 1.5rem;
  padding: 10px;
  margin-bottom: 10px;
  font-family: 'Poppins', sans-serif;
  color: #EFF5F5;
}

.iconos-redes-sociales a {
  width: 50px;
  height: 50px;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 2px;
  margin: 10px;
  border: 2px solid #EFF5F5;
  border-radius: 50%;
  transition: all 0.2s ease-in;
}

.iconos-redes-sociales i {
  color: #EFF5F5;
  font-size: 1.5rem;
  transition: all 0.2s ease-in;
}

.iconos-redes-sociales a:hover {
  background-color: #EFF5F5;
  border: 2px solid #EFF5F5;
}

.iconos-redes-sociales a:hover i {
  color: black;
}

.derechos-de-autor {
  font-size: 15px;
  color: #EFF5F5;
  padding: 10px;

}

/* Responsive */

  
@media screen and (max-width: 740px) {
  .navbar-brand {
  display: none;
  } 
}